/* @import "./styles/shared.scss";

// без SASS_PATH делали пути так
// ../../styles/shared.scss */

.container {
  margin: 0 auto;
  margin-top: 50px;
  padding: 40px;
  width: 600px;
  border-radius: 10px;
  background-color: rgb(240, 236, 228);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

.wrapper {
  margin-top: 40px;
}
